.extraawe {
    background-color: 
    #85cce6 // color_0 0 //bg & arch logo
    #ED1B8F // color_1 // error ?
    #B802C9 // color_2 // htop, ls, > kedua
    #A202AB // color_3
    #384DDE // color_4 // > pertama
    #BD07CD // color_5
    #6A12D7 // color_6 // neofetch teks
    #36033f // color_7 // <
    #72afc6 // color_8
    #b70165 // color_9  9
    #81018d // color_10 10
    #710178 // color_11 11
    #0f24b3 // color_12 12
    #870193 // color_13 13
    #4801a2 // color_14 14
    #010101 // color_15 15
    #010101 // color_16 15
    #85cce6 // color_17 0
    #010101 // color_18 15
    #010101 // color_19 15
    #010101 // color_20 15
    #85cce6 // color_21 0
    #85cce6 // color_22 0
    #010101 // color_23 15
    #85cce6 // color_24 0
;
}

.extraawe {
    background-color: 
    #85cce6 // color_0 0 //bg & arch logo
    #ED1B8F // color_1 // error ?
    #B802C9 // color_2 // htop, ls, > kedua
    #A202AB // color_3
    #384DDE // color_4 // > pertama
    #BD07CD // color_5
    #6A12D7 // color_6 // neofetch teks
    #36033f // color_7 // <
    #72afc6 // color_8
    #b70165 // color_9 
    #81018d // color_10
    #710178 // color_11
    #0f24b3 // color_12
    #870193 // color_13
    #4801a2 // color_14
    #010101 // color_15

;
}

.extraawe {
    background-color: 
    #85cce6 // color_0 0 //bg & arch logo
    #ED1B8F // color_1 // error ?
    #B802C9 // color_2 // htop, ls, > kedua
    #A202AB // color_3
    #384DDE // color_4 // > pertama
    #BD07CD // color_5
    #6A12D7 // color_6 // neofetch teks
    #36033f // color_7 // <
    #72afc6 // color_8
    #b70165 // color_9 
    #81018d // color_10
    #710178 // color_11
    #0f24b3 // color_12
    #870193 // color_13
    #4801a2 // color_14
    #010101 // color_15

;
}


.extraawe {
    background-color: 
    #0E1521 // color_0 0 //bg & arch logo
    #C3B6AD // color_1 // error ?
    #92788B // color_2 // htop, ls, > kedua
    #519BAB // color_3
    #175F8F // color_4 // > pertama
    #A5A3AA // color_5
    #567390 // color_6 // neofetch teks
    #eee2ce // color_7 // <
    #a69e90 // color_8
    #C3B6AD // color_9  9
    #92788B // color_10 10
    #519BAB // color_11 11
    #175F8F // color_12 12
    #A5A3AA // color_13 13
    #567390 // color_14 14
    #eee2ce // color_15 15
    #eee2ce // color_16 15
    #0E1521 // color_17 0
    #eee2ce // color_18 15
    #eee2ce // color_19 15
    #eee2ce // color_20 15
    #0E1521 // color_21 0
    #0E1521 // color_22 0
    #eee2ce // color_23 15
    #0E1521 // color_24 0
;
}

